.video-card {
    width: 100%;
    height: fit-content;
    margin-bottom: 10px;

    .thumbnail-image {
        width: 100%;
        height: auto;
    }

    .video-info {
        display: flex;
    }

    .video-avatar {
        margin-top: 12px;
        margin-right: 12px;
        height: 30px !important;
        width: 30px !important;
    }

    .video-text {
        padding-right: 20px;

        h4 {
            margin: 12px 0 6px 0;
            font-size: 15px;
        }

        h5 {
            font-size: 15px;
            font-weight: 300;
        }

        p {
            font-size: 14px;
        }

        a img {
            cursor: pointer;
        }

        a h4 {
            color: #3a3a3a;
        }

        a {
            color: #000;
            transition: ease-in-out 0.05s;
        }

        a:hover {
            color: rgb(177, 177, 177);
        }
    }
    
}