.channel-row {
    display: flex;
    align-items: center;

    .avatar-container {
        width: 30%;
        max-width: 360px;
        min-width: 240px;
        margin-right: 16px;
    }

    .channel-row-logo {
        display: flex;
        height: 136px;
        width: 136px;
        margin: 0 auto;
    }

    .channel-row-text {
        width: 50%;
        margin-right: 40px;

        .verified-tag {
            height: 18px;
        }
    }

    .channel-row-text > h4 {    
        font-size: 18px;
        display: flex;
        align-items: center;
        padding-bottom: 8px;
    }

    .channel-row-text > h5 {    
        font-weight: 400;
        color: #676767;
        padding-bottom: 8px;
    }

    .channel-row-text > p {    
        font-size: 13px;
        color: #676767;
    }

    .channel-row-subscribe {
        width: 20%;
        align-items: center;
        display: flex;
        max-width: 360px;
        min-width: 200px;

        .sub-bell {
            color: #676767;
            height: 26px;
            width: 26px;
            padding: 0 14px;
        }
    }
}