.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
    border-bottom: 1px solid #dadada;
    position: sticky;
    background-color: #fff;
    top: 0;
    z-index: 100;

    .header-left {
        height: 40px;
        display: flex;
        align-items: center;
        overflow: hidden;

        .menu-icon {
            margin-right: 28px;
            width: 28px;
            height: 28px;
            padding: 12px;
            cursor: pointer;
            align-items: center;
        }
    
        .header-logo {
            height: 20px;
            object-fit: contain;
        }

    }
    
    .header-input {
        display: flex;
        align-items: center;
        width: 50%;
        max-width: 640px;
        border: 1px solid lightgray;
        padding-left: 10px;
        height: 32px;
        border-radius: 2px;
        box-shadow: inset 0 1px 2px #eee;
    }

    .header-input > input {
        flex: 1;
        border: none;
        font-size: 16px;
    }

    .header-input:focus-within {
        box-shadow: inset 0 1px 4px #dadada;
        border: 1px solid #065fd4;
    }

    .header-input-button {
        width: 65px !important;
        height: 20px !important;
        padding: 6px 0;
        background-color: #fafafa;
        border-left: 1px solid lightgray;
        color: gray;
    }

    .header-input-button:hover {
        background-color: #f0f0f0;
        border-left: 1px solid lightgray;
        color: #222222;
        cursor: pointer;
    }

    .header-icons {
        display: flex;
        align-items: center;

        .header-icon {
            margin-right: 16px;
            height: 26px;
            width: 26px;
        }

        .avatar {
            height: 32px;
            width: 32px;
        }
    }
}