.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
    border-bottom: 1px solid #dadada;
    position: sticky;
    background-color: #fff;
    top: 0;
    z-index: 100;

    .header-logo {
        height: 25px;
        object-fit: contain;
        margin-left: 20px;
    }

    .header-input {
        display: flex;
        align-items: center;
        width: 40%;
        border: 1px solid lightgray;
        padding-left: 10px;
        height: 30px;
    }

    .header-input > input {
        flex: 1;
        border: none;
        font-size: 16px;
    }

    .header-input-button {
        width: 50px !important;
        height: 20px !important;
        padding: 5px 0;
        background-color: #fafafa;
        border-left: 1px solid lightgray;
        color: gray;

        
    }

    .header-icons {
        display: flex;
        align-items: center;

        .header-icon {
            margin-right: 16px;
            height: 26px;
            width: 26px;
        }

        .avatar {
            height: 32px;
            width: 32px;
        }
    }
}