.button {
    width: fit-content;
    height: fit-content;
    padding: 10px 20px;
    background-color: red;
    border-radius: 2px;
    
    h4 {
        color: #fff;
        font-weight: 500;
        font-size: 14px;
        text-transform: uppercase;
    }
}